<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/pygments.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
    <link rel="alternate" href="/feed/atom.xml" type="application/rss+xml" title="mebubo's blog" />
    <title>{{ page.title }}</title>

    <!-- google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35118015-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </head>
  <body>
    <div id="content">
      <header>
        <h1><a id="home" href="/">mebubo</a></h1>
      </header>
      {{ content }}
    </div>
  </body>
</html>
